<style>
    .card-images{
        padding: 0 !important;
        width: 20%;
    }
    .card-container{
        display: flex;
        align-items: center;
        background-color: rgba(253, 253, 253, 0.685);
        border-radius: 5px;
        margin: 0 5px 0 0;
    }
    .whatsapp_float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 30px;
    background-color: #25D366;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp_icon {
    width: 35px;
    height: 35px;
}
</style>
<footer id="site-footer" class="site-footer footer-v1">
    <div class="container">
        <div class="row">
            <div style="padding-right:0" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">About Company</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="/aboutUs">About Us</a></li>
                        <li class="list-item"><a href="/contactUs">Contact Us</a></li>
                        <li class="list-item"><a href="#">Become A partner</a></li>
                        <li class="list-item"><a href="#">Change your Consultant</a></li>
                        <li class="list-item"><a href="/customPay">Online Payment</a></li>
                        <li class="list-item"> 
                            <div class="row card-container" >
                            <div class="col-lg card-images">
                                <a href="/customPay"><img src="/images/visa-card.png" alt=""></a>
                            </div>
                            <div class="col-lg card-images">
                                <a href="/customPay"><img src="https://cdn3.iconfinder.com/data/icons/payment-methods-18/512/cover_credit_card_visa_electron-512.png" alt=""></a>
                            </div>
                            <div class="col-lg card-images">
                                <a href="/customPay"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/MasterCard_early_1990s_logo.png/1200px-MasterCard_early_1990s_logo.png" alt=""></a>
                            </div>
                            <div class="col-lg card-images">
                                <a href="/customPay"><img src="/images/maestro-card.png" alt=""></a>
                            </div>
                            <div class="col-lg card-images">
                                <a href="/customPay"><img src="/images/cirrus-card.png" alt=""></a>
                            </div>
                        </div></li>
                        
                    </ul>
                </div>
            </div>
            <div style="padding-right:0" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Company Policies</h5>
                    <ul class="list-items">
                        <li class="list-item"><a target="_blank" href="/privacyPolicy">Privacy Policy</a></li>
                        <li class="list-item"><a target="_blank" href="/termsOfService">Terms Of Service</a></li>
                        <li class="list-item"><a target="_blank" href="#">Terms Of Use</a></li>
                        <li class="list-item"><a target="_blank" href="/refundPolicy">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div style="padding-right: 0;" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Popular Services</h5>
                    <ul class="list-items">
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[0] %>"><%= latestFavourat.favourates.nameOfService[0] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[1] %>"><%= latestFavourat.favourates.nameOfService[1] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[2] %>"><%= latestFavourat.favourates.nameOfService[2] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[3] %>"><%= latestFavourat.favourates.nameOfService[3] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[4] %>"><%= latestFavourat.favourates.nameOfService[4] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[5] %>"><%= latestFavourat.favourates.nameOfService[5] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[6] %>"><%= latestFavourat.favourates.nameOfService[6] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[7] %>"><%= latestFavourat.favourates.nameOfService[7] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[8] %>"><%= latestFavourat.favourates.nameOfService[8] %></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div style="padding-right:0" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Knowledge Center</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="/lawUpdates">Govt. Notifications/ Circulars</a></li>
                        <li class="list-item"><a href="/minimumWagesSelector">Minimum Wages</a></li>
                        <li class="list-item"><a href="/blog">Blogs</a></li>

                    </ul>
                </div>
            </div>
            <div style="padding-right:0" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Login</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="/login/client">Client</a></li>
                        <li class="list-item"><a href="/login/employee">Team</a></li>
                        <li class="list-item"><a href="/login/admin">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-65">
            <div class="col-md-12 col-lg-12" style="text-align: center;">
                <p class="copyright-text">Copyright ©️ 2020 Rapport HR Solutions. All Rights Reserved.</p>
            </div>
        </div>
        <a href="https://wa.me/919876543210" 
   class="whatsapp_float" 
   target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
         class="whatsapp_icon"
         alt="WhatsApp">
</a>

    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
   document.querySelectorAll('img').forEach(function(img){
  	img.onerror = function(){this.style.display='none';};
   })
});
</script>